<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top mb-5">
  <a class="navbar-brand" routerLink="/" (click)="app.toggleNav(); true"> Home </a>
  <button class="navbar-toggler" type="button" (click)="app.toggleNav()" aria-label="Toggle navigation" #toggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" [class.collapse]="app.collapsed">
    <div class="navbar-nav mr-auto">

    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

<nav class="navbar fixed-bottom navbar-light bg-footer">
  <div class="version pointer text-dark small ml-auto">
    {{buildinfo?.tag}}
  </div>
</nav>