/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Roboto|Lemon|Pacifico);
@import "variables";
@import "~bootstrap/scss/bootstrap.scss";
@import "bootswatch";
@import 'anim.scss';

/* set body margin */
body {
  margin-top: 75px !important;
  margin-bottom: 75px !important;
}

@media (max-width: 575.98px) {

  //Manage Display Headers for Mobile Devices
  .display-1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.0;
  }

  .display-2 {
    font-size: 2.75rem;
    font-weight: 300;
    line-height: 1.0;
  }

  .display-3 {
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 1.0;
  }

  .display-4 {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.0;
  }
}

/* Custom styles - global */
.pointer {
  cursor: pointer;
}

/* thin progress bar [default: 1rem (16px)] */
.progress {
  height: 0.25rem;
}

.text-noselect {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}